<style type="text/css">
    body{
        background-color: #fff9c4;
    }
    </style>
    <body>

<marquee behavior="alternate" style="font-style: italic; color: darkblue;"><h1>Bus Reservation System</h1></marquee>



<nav class="nav nav-pills nav-fill navbar-dark bg-dark">
    <a class="nav-item nav-link" href="/adminhome">Admin Home</a>
    <a class="nav-item nav-link" href="/addbus">Add Bus</a>
    <a class="nav-item nav-link" href="/showbuses">Show Buses</a>
    <a class="nav-item nav-link" href="/">Logout</a>
</nav>

<router-outlet></router-outlet>
    </body>